* {
  font-family: Arial, Helvetica, sans-serif;
}
header #logo {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto 5px;
  border: solid 2px yellow;
}
header > div:first-child {
  margin-left: 10%;
  margin-right: auto;
}
header > div:last-child {
  margin-right: 10%;
  margin-left: auto;
}
header {
  display: flex;
  background-color: brown;
  height: 100px;
  color: white;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: auto 5px;
  width: 160px;
  height: 40px;
}
header a:last-child {
  background-color: red;
}
header a:last-child:hover {
  outline: yellow solid 1px;
}
header a:first-child {
  border: 1px solid white;
}
header a:first-child:hover {
  border: yellow solid 1px;
  color: yellow;
}
header h1 {
  margin: auto 0px;
}
header > div {
  display: flex;
  margin: auto 0px;
}

main > figure > img:first-child {
  width: 100%;
}
figure {
  margin: 0px;
}
main {
  text-align: center;
  background-color: brown;
}
#main-logo {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
  border: solid 2px yellow;
}
#titel {
  color: yellow;
}
main > section > div#main-logo {
  margin: 0px auto;
  margin-bottom: 10px;
}
main > section > div#main-logo,
#titel,
main > section > p,
main > section > h1 {
  transform: translateY(-40px);
}
main h1 {
  font-size: 100px;
  margin: 0px;
  color: white;
}
main p {
  margin: 0px;
  color: gainsboro;
  margin-bottom: 50px;
  font-size: 18px;
}
section:nth-of-type(2) {
  display: flex;
  background-color: brown;
  justify-content: center;
}
section:nth-of-type(2) > div {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  width: fit-content;
}
section:nth-of-type(2) .img {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
  border: solid white 2px;
}
section:nth-of-type(2) .operators {
  margin: 40px 20px;
  color: yellow;
  font-size: 100px;
  font-weight: 900;
}
section:nth-of-type(2) {
  border-top: solid darkred 4px;
}
body > main > section:nth-child(3) > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.section2Tickers {
  margin-top: 10px;
  color: white;
  font-size: 40px;
}
.section2BottomText {
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(128, 128, 128, 0.365);
  color: rgb(195, 195, 195);
  font-size: 20px;
  border-radius: 15px;
}
body
  > main
  > section:nth-child(3)
  > div
  > div:nth-child(5)
  > span.section2BottomText {
  background-color: red;
  color: white;
}
main > section:nth-child(3) > div > div:nth-child(5) > div {
  border-color: yellow;
}
body > main > section:nth-child(4) > div:nth-child(1) {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}
body > main > section:nth-child(4) {
  border-top: solid 4px darkred;
}
#sTitel {
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}
#sh1 {
  color: white;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 10px;
}
#sht {
  font-size: 18px;
  color: white;
  font-weight: 200;
  margin-bottom: 30px;
}
#requirement {
  border-radius: 20px;
  border: yellow solid 2px;
  padding: 10px 15px;
  width: fit-content;
}
#requirementText {
  font-size: 14px;
  color: white;
}
#tagY {
  color: yellow;
  font-size: 20px;
  font-weight: 800;
}
#steps {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepsCard {
  display: flex;
  flex-direction: column;
  border: solid darkred 2px;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  margin: auto 20px;
  background-color: rgba(168, 1, 1, 0.309);
  text-align: start;
  margin-bottom: 40px;
}
.stepsCard p {
  color: white;
  font-size: 19px;
  font-weight: 100;
  padding: 0px 30px;
  padding-top: 10px;
}
.stepsCard .stepsCardRedT {
  color: red;
  text-align: start;
  padding: 0px 30px;
  font-weight: 900;
  font-size: 60px;
}
.stepsCard .h2stepsCard {
  font-size: 25px;
  color: white;
  font-weight: 800;
  padding: 0px 30px;
}
main ul {
  color: white;
  padding: 0px;
}
main ul li {
  list-style: none;
  margin: 10px auto;
  font-weight: 300;
}
main ul li::before {
  content: "✓";
  margin-right: 20px;
  color: yellow;
}
#rules {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
}
#rulesCard {
  padding: 30px;
  width: fit-content;
  border: solid darkred 2px;
}
#rulesTitel {
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.rulesYT {
  color: yellow;
  font-weight: 600;
}
#payoutBtn {
  color: white;
  background-color: red;
  outline: solid 2px rgb(166, 0, 0);
  padding: 15px 30px;
  border: none;
  margin: 40px 0px;
  font-size: 20px;
  border-radius: 25px;
}
#payoutBtn:active {
  transform: translateY(4px);
}
#payoutBtn:hover {
  outline: solid 2px yellow;
}
body > main > section:nth-child(5) {
  border-top: solid 4px darkred;
  border-bottom: solid 4px darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#address {
  font-size: 20px;
  color: white;
  font-weight: 200;
}
#contract {
  text-align: start;
  margin: 100px 0px;
  margin-bottom: 120px;
}
#contractCopybtn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
#contractCopybtn > button {
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid yellow 2px;
  background-color: rgba(239, 30, 30, 0.324);
  color: white;
}
#contractCopybtn > button:hover {
  background-color: rgba(255, 0, 0, 0.643);
}
#contractCopybtn > span {
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid yellow 2px;
  border-right-width: 0px;
}
#socials {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.socialsCards {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: solid white 2px;
  border-radius: 20px;
  padding: 10px;
}
.socialsLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px yellow;
  background-color: red;
}
.sCT {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  padding: auto;
  text-align: start;
}
.sCT > span:first-child {
  font-weight: 100;
  font-size: 14px;
}
.sCT > span:last-child {
  font-weight: 900;
  font-size: 20px;
}
.socialsFollowBtn {
  height: fit-content;
  width: fit-content;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.socialsFollowBtn > a {
  text-decoration: none;
  color: black;
}
.socialsFollowBtn:hover {
  outline: solid yellow 2px;
}
.socialsFollowBtn:active {
  transform: translateY(4px);
}
#socialsCardsParent {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
#socials > span:first-child {
  color: yellow;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}
#socials > span:last-of-type {
  color: white;
  font-size: 40px;
  font-weight: 800;
}
footer {
  text-align: center;
  color: white;
  background-color: brown;
  padding: 20px 0px;
}
footer > span {
  font-size: 10px;
  font-weight: 100;
}
